menuconfig UFIREBIRDII_GNSS
    bool "Unicore UFirebirdII GNSS drivers"
    default y

if UFIREBIRDII_GNSS
    config UFIREBIRDII_GNSS_UC6580
    depends on UART
    default y
    help
        Enable Unicore UC65380 GNSS receiver.

endif # GNSS