/ {
    aliases {
        can0 = &can_over_spi0;
        can1 = &can_over_spi1;
        sdhc0 = &sdhc_card;
        i2s-tx = &i2s0;
        ufirebirdii = &ufbii_gnss;
    };

    chosen {
        zephyr,canbus = &can_over_spi0;
    };
};

&pinctrl {
    i2s_default: i2s_default {
        group1 {
            pinmux = <I2S0_O_WS_GPIO6>, // set output WS pin (LRC)
                    <I2S0_O_BCK_GPIO5>, // set outpit BCK pin (BCLK)
                    <I2S0_O_SD_GPIO4>; // serial data, not mode select (DIN)
        };
    };
};

&i2s0 {
    status = "okay";
    pinctrl-0 = <&i2s_default>;
    pinctrl-names = "default";

    dmas = <&dma 3>;
    dma-names = "tx";
};

&dma {
    status = "okay";
};

&uart1 {
    ufbii_gnss: uc6580 {
        compatible = "unicore,uc6580";
        status = "okay";
        pps-gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>; // GPIO 36 == GPIO1 4
    };
};

&spi3 {
    cs-gpios = <&gpio0 8 GPIO_ACTIVE_LOW>,  // preexisting lora cs
            <&gpio0 17 GPIO_ACTIVE_LOW>,    // CAN module 0
            <&gpio0 26 GPIO_ACTIVE_LOW>,    // CAN module 1
            <&gpio0 15 GPIO_ACTIVE_LOW>;    // SD card 

    can_over_spi0: can@1 {
        compatible = "microchip,mcp2515";
        reg = <1>;
        status = "okay";
        osc-freq = <DT_FREQ_M(8)>;
        int-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
        spi-max-frequency = <DT_FREQ_M(10)>;
    }; 

    can_over_spi1: can1@2 {
        compatible = "microchip,mcp2515";
        reg = <2>;
        status = "okay";
        osc-freq = <DT_FREQ_M(8)>;
        int-gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
        spi-max-frequency = <DT_FREQ_M(10)>;
    };

    sdhc_card: sdhc@3 {
        compatible = "zephyr,sdhc-spi-slot";
        reg = <3>;
        status = "okay";
        mmc {
            compatible = "zephyr,sdmmc-disk";
            disk-name = "SD";
            status = "okay";
        };
        spi-max-frequency = <DT_FREQ_M(18)>;
    };
};