/ {
    aliases {
        can0 = &can_over_spi;
        sdhc0 = &sdhc_card;
        i2s-tx = &i2s0;
    };

    chosen {
        zephyr,canbus = &can_over_spi;
    };
};

&pinctrl {
    i2s_default: i2s_default {
        group1 {
            pinmux = <I2S0_O_WS_GPIO6>, // set output WS pin
                    <I2S0_O_BCK_GPIO5>, // set outpit BCK pin
                    <I2S0_O_SD_GPIO4>; // serial data, not mode select
        };

        group2 {
            pinmux = <I2S0_I_SD_GPIO7>;
        };
    };
};

&i2s0 {
    status = "okay";
    pinctrl-0 = <&i2s_default>;
    pinctrl-names = "default";

    dmas = <&dma 3>;
    dma-names = "tx";
};

&dma {
    status = "okay";
};

&spi3 {
    cs-gpios = <&gpio0 8 GPIO_ACTIVE_LOW>,  // preexisting lora cs
            <&gpio1 13 GPIO_ACTIVE_LOW>,    // CAN module GPIO 45 == GPIO1 13
            <&gpio0 4 GPIO_ACTIVE_LOW>;     // SD card

    can_over_spi: can@1 {
        compatible = "microchip,mcp2515";
        reg = <1>;
        status = "okay";
        osc-freq = <DT_FREQ_M(8)>;
        int-gpios = <&gpio1 14 GPIO_ACTIVE_LOW>; // GPIO 46 == GPIO1 14
        spi-max-frequency = <DT_FREQ_M(24)>; // might be wrong, just a guess
    }; 

    sdhc_card: sdhc@2 {
        compatible = "zephyr,sdhc-spi-slot";
        reg = <2>;
        status = "okay";
        mmc {
            compatible = "zephyr,sdmmc-disk";
            disk-name = "SD";
            status = "okay";
        };
        spi-max-frequency = <DT_FREQ_M(24)>;
    };
};